@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
html body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: 100%;
  font-family: "Red Hat Display", sans-serif;
  min-height: 100%;
}
html body main figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  min-width: 320px;
  height: auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 20px 20px 10px hsla(245, 83%, 68%, 0.1);
  margin: 20px;
}
html body main figure img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
html body main figure figcaption {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10%;
  height: auto;
  gap: 32px;
  text-align: center;
}
html body main figure figcaption h1 {
  font-weight: 900;
  font-size: 1.8rem;
  color: hsl(223, 47%, 23%);
}
html body main figure figcaption p {
  font-weight: 400;
  color: hsl(224, 23%, 55%);
  line-height: 1.6rem;
  letter-spacing: 0.02em;
}
html body main figure figcaption .plan-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  width: 100%;
  height: 100px;
  border-radius: 15px;
  padding: 0 20px;
}
html body main figure figcaption .plan-div img {
  max-width: 48px;
}
html body main figure figcaption .plan-div .current-plan {
  text-align: left;
  position: relative;
  right: 40px;
  color: hsl(224, 23%, 55%);
}
html body main figure figcaption .plan-div .current-plan h3 {
  font-size: 1rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  padding-bottom: 5px;
}
html body main figure figcaption .plan-div a {
  font-size: 14px;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  letter-spacing: 0.02em;
}
html body main figure figcaption .plan-div a:hover {
  color: hsl(245, 83%, 68%);
}
html body main figure figcaption .pay-button {
  background-color: hsl(245, 75%, 52%);
  color: white;
  width: 100%;
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 20px 20px 10px hsla(245, 83%, 68%, 0.1);
}
html body main figure figcaption .pay-button:hover {
  background-color: hsl(245, 83%, 68%);
}
html body main figure figcaption .cancel-order {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-weight: 900;
}
html body main figure figcaption .cancel-order:hover {
  color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 500px) {
  html body {
    background-image: url(../images/pattern-background-mobile.svg);
  }
  .current-plan {
    right: 0px !important;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */