//Fonts//
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Color Variables//
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$lightPurple: hsl(245, 83%, 68%);

html {
    height: 100%;
    body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        background: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-color: $paleBlue;
        background-size: 100%;
        font-family: "Red Hat Display", sans-serif;
        min-height: 100%;

        main {
            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 450px;
                min-width: 320px;
                height: auto;
                border-radius: 20px;
                background-color: white;
                box-shadow: 0 20px 20px 10px hsla(245, 83%, 68%, 10%);
                margin: 20px;

                img {
                    width: 100%;
                    border-radius: 20px 20px 0 0;
                }
                figcaption {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10%;
                    height: auto;
                    gap: 32px;
                    text-align: center;

                    h1 {
                        font-weight: 900;
                        font-size: 1.8rem;
                        color: $darkBlue;
                    }

                    p {
                        font-weight: 400;
                        color:$desaturatedBlue;
                        line-height: 1.6rem;
                        letter-spacing: .02em;
                    }

                    .plan-div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: $veryPaleBlue;
                        width: 100%;
                        height: 100px;
                        border-radius: 15px;
                        padding: 0 20px;

                        img {
                            max-width: 48px;
                        }

                        .current-plan {
                            text-align: left;
                            position: relative;
                            right: 40px;
                            color: $desaturatedBlue;

                            h3 {
                                font-size: 1rem;
                                font-weight: 900;
                                color: $darkBlue;
                                padding-bottom: 5px;
                            }
                        }

                        a {
                            font-size: 14px;
                            font-weight: 700;
                            color: $brightBlue;
                            letter-spacing: .02em;
                        }

                        a:hover {
                            color: $lightPurple;
                        }
                    }

                    .pay-button {
                        background-color: $brightBlue;
                        color: white;
                        width: 100%;
                        padding: 15px;
                        text-decoration: none;
                        font-weight: 700;
                        border-radius: 10px;
                        box-shadow: 0 20px 20px 10px hsla(245, 83%, 68%, 10%);
                    }

                    .pay-button:hover {
                        background-color: $lightPurple;
                    }

                    .cancel-order {
                        color: $desaturatedBlue;
                        text-decoration: none;
                        font-weight: 900;
                    }

                    .cancel-order:hover {
                        color: $darkBlue;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    html{
        body {
            background-image: url(../images/pattern-background-mobile.svg);
        }
    }

    .current-plan {
        right: 0px !important;
    }
}

.attribution {
    padding-top: 10px;
    font-size: 11px; text-align: center;
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}
    